/* common styles  */
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
main, .header-banner {
    margin: 50px 150px 0px 150px;
}
.container{
    display: flex;
    margin-bottom: 20px;
}
/* header section styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 20px;

}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav ul{
    margin-left: 400px;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    
}
ul li a{
    padding: 25px 20px ;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
.header-container{
    width: 900px;
   
}
.header-title{
  text-align: center;
font-weight: 700;
font-size: 60px;
}
.header-description{
    
font-weight: 400;
font-size: 16px;
color: #727272;
text-align: center;
}
.header-btn{
    text-align: center;
}
.btn-primary{
    height: 60px;
    width: 150px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    border: 0;
    text-align: center;
}
/* header banner stless */

.header-banner img{
    width: 100%;
}
/* features section styles */


.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 20px;
}
.team  img{
    width: 100%;
}
.features{
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 50px;
}
.features-title{
    font-size: 45px;
    color: #727272;
}
span{
    color: #131313;
}
.text-primary{
    color: #FF900E;
}
.features-details{
    color: var(--dark-03, #727272);
    font-size: 16px; 
   
}
/* features list styles */
.features-list-title{
     color: #131313;
     font-size: 45px;
     font-weight: 700;
     border-left:5px solid #FF900E;
     padding-left: 20px;
}

.features-blog{ 
    border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   padding: 20px;
   margin-bottom: 20px;
}
.features-blog-title{
    color: #131313;
    font-size: 20px;
}
.blog-description{
    color: #727272;
    font-size: 16px;
}
.features-banner, .features-list{
    width: 50%;

}
.features-banner{
    margin-left: 50px;
}

.features-banner img{
    height: 100%;
    width: 100%;
}

.features-btn{
    height: 130px;
    width: 240px;
    color: #FFFFFF;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    border: 0;
    text-align: center;
    position: relative;
    left: -30px;
    top: -100px;
}
.features-banner h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
}
.features-banner span{
    font-size: 20px;
    color: #FFFFFF;
}