/* common styles  */
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
main,footer, .header-banner {
    margin: 50px 150px 0px 150px;
}
.container{
    display: flex;
    margin-bottom: 20px;
}
/* header section styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 20px;

}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav ul{
    margin-left: 400px;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    
}
ul li a{
    padding: 25px 20px ;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
.header-container{
    width: 900px;
   
}
.header-title{
  text-align: center;
font-weight: 700;
font-size: 60px;
}
.header-description{
    
font-weight: 400;
font-size: 16px;
color: #727272;
text-align: center;
}
.header-btn{
    text-align: center;
}
.btn-primary{
    height: 60px;
    width: 150px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    border: 0;
    text-align: center;
}
/* header banner stless */

.header-banner img{
    width: 100%;
}
/* features section styles */


.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 20px;
}
.team  img{
    width: 100%;
}
.features{
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 50px;
}
.features-title{
    font-size: 45px;
    color: #727272;
}
span{
    color: #131313;
}
.text-primary{
    color: #FF900E;
}
.features-details{
    color: var(--dark-03, #727272);
    font-size: 16px; 
   
}
/* features list styles */
.features-list-title{
     color: #131313;
     font-size: 45px;
     font-weight: 700;
     border-left:5px solid #FF900E;
     padding-left: 20px;
}

.features-blog{ 
    border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   padding: 20px;
   margin-bottom: 20px;
}
.features-blog-title{
    color: #131313;
    font-size: 20px;
}
.blog-description{
    color: #727272;
    font-size: 16px;
}
.features-banner, .features-list{
    width: 50%;

}
.features-banner{
    margin-left: 50px;
}

.features-banner img{
    height: 100%;
    width: 100%;
}

.features-btn{
    height: 130px;
    width: 240px;
    color: #FFFFFF;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    border: 0;
    text-align: center;
    position: relative;
    left: -30px;
    top: -100px;
}
.features-banner h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
}
.features-banner span{
    font-size: 20px;
    color: #FFFFFF;
}
/* some facts section styles */
.some-fact-container{
    margin-top: 50px;
}
.factor{
    width: 30%;
}
.fact-title{
    font-size: 45px;
    font-weight: 700;
}
.fact-description{
       font-size: 16px;
       color: #727272;
}
.achievements{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}
.achievement{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 10px;
    text-align: center;
}
.achievement-count{
    font-size: 45px;
    font-weight: 700;
}
.achievement-description{
    color: #727272;
    font-size: 16px;
    font-weight: 600;
}
/* add animation  */
@keyframes sliding {
    from{
               transform: scale(1);
         }

      to{
        color:darkblue;
        background-color:lightpink;
        transform:  scale(1.2);
      }   
}
.achievement:hover{
    position: relative;
    animation: sliding 2s ease-in-out 0.1s infinite alternate ;
   -o-animation-play-state: running;
}
/* sponsor section styles */
.sponsors{
    margin-top: 50px;
}
.sponsor-details{
    text-align: center;
}
.sponsor-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.sponsors-icons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sponsors-icon img{
     height: 50px;
     width: 150px;
}
.grayscale-image {
    filter: grayscale(100%);
  }
  /* about us section */
  .about-us{
    background-color: lightcyan;
    padding: 20px;
    margin-top: 100px;
  }
  .about-us-title{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  .about-us-details{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 50px;
  }
  .about-info-title{
    color: midnightblue;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .about-us-description{
       color: #727272;
       font-size: 18px;
       font-weight: 600;
  }
   form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
   }
   #name, #email {
    margin-right: 50px;
    height: 30px;
   }
  form input{
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  /* footer style */
  footer{
    color: #727272;
    margin-bottom: 400px;
    background-color: #FFF4E7;
    padding: 30px 20px;
    text-align: center;
  }